#codeanywhere special
<IfModule mod_rewrite.c> 
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule event/(.*)\.php /event?refs=$1

RewriteRule profile/(.*)\.php /profile?refs=$1

RewriteRule poll/(.*)\.php /poll?id=$1
</IfModule>
